<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
	<listeners>
		<listener class-name="iudx.catalogue.TestListener" />
	</listeners>
	<test thread-count="5" name="API Functional Testing">
		<classes>
			<class name="iudx.catalogue.MyRestIT" />
		</classes>
	</test> <!-- API Functional Testing -->
</suite> <!-- Test Suite -->
