html,
body {
  height: 100%;
  font-size: 20px !important;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/spinner.gif) center no-repeat #fff;
}

#resource_item_details, button, .leaflet-popup-content-wrapper, .sidebar-catergory{
  font-size: 20px !important;
}

.toast_msg{
  font-size: 20px !important;
}

.list_icon_attr{
  font-size: 15px !important;
}

.sidebar{
  font-size: 20px !important;
}

*{
  font-family: 'Darker Grotesque', sans-serif !important;
 }

.bold{
  font-weight: bold !important;
}

/*.map_icon_attr{
  font-size: 7px !important;
}
*/

.copy-btn{
  color: white !important;
  background-color: #3ec0a6 !important;
}

.svg-white{
  fill: #000 !important;
}

.secure_icon{
  width: 25px !important;
}

.text-white{
  color: white !important;
}

.limit{
    width:50px;
}

.ajs-button{
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}