html,
body {
  height: 100%
}
/*  .jumbotron{
    background-color: black !important;
    color: white !important;
  }*/
  .jumbotron{
    background-image: url(show-copy.jpg) ;
    background-size: cover; 
    /*height: 80vh !important;*/
    width: 100% !important;
}

.center-block {
  display: block !important;
  margin-right: auto !important;
  margin-left: auto !important;
  padding:10px !important;
  background-color:#eceadc !important;
  color:#ec8007 !important
}