.ajs-button{
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}

#btn-back{
  margin-top:10px;
}

#custom_alertbox{
  width: 100% !important;
  height: 100% !important;
}

.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus{
  cursor: pointer !important;
}

.pagination>li>a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-active > a{
    color: #fff !important;
    text-decoration: none !important;
    background-color: #337ab7 !important;
}

#retrieved_items_count{
  color:green;
}

body{
  /*background-color: #f6f6f6;*/
  /*background-color: #ffffff;
  background-image: url("https://images.unsplash.com/Ys-DBJeX0nE.JPG?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
  display: none;
}

h1,p{
  text-align: center;
}

header{
  background-color: white;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.text-white{
  color: white !important;
}

/*.errors-wrapper{
  display: none !important;
}*/

.btn{
  border: none !important;
}

.details_section, .token_section{
  display: none;
}

a{

}

.col{
  width: auto !important;
}

.renderedMarkdown > p{
  text-align: left !important;
}

.style_list{
  margin-top:20%;
}

#search_section, .section{
  display: none;
}

.card-margin-top{
  margin-top: 20px;
}

.card-header-color{
  color: #198ae3 !important;
}

#landing_section{
  /*border: 1px dotted red !important;*/
}

.landing_footer, .normal_footer {
   background-color: transparent;
   text-align: center !important;
}

.landing_footer{
   position: fixed;
   color: white;
   bottom: 0;
}

.normal_footer{
   margin-top: 20px;
   color: black;
}


/***************************************************************************************************************/
    ._active{
      background: linear-gradient(to right, #da8cff, #9a55ff) !important;
      border-radius: 10px;
      color: #fff !important;
      text-align: center !important;
    }

    ._active > .nav-link > .tag_item_count{
      color: #fff !important;
    }

    ._active > .nav-link{
      color: #fff !important; 
    }

    .ui-menu {
            list-style:none;
            padding: 10px;
            margin: 0px;
            display:block;
            width:227px;
            background-color: white;
    }

    .ui-menu .ui-menu {
            /*margin-top: -3px;*/
    }
    
    .ui-menu .ui-menu-item {
            margin:0;
            padding: 2px;
            /*margin: 2px;*/
            /*width: 200px;*/
            width: auto;
            font-weight: bold;
            color: black;
    }
    
    .ui-menu .ui-menu-item a {
            text-decoration:none;
            display:block;
            padding:.2em .4em;
            line-height:1.5;
            zoom:1;
    }
    
    .ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
            /*margin: -1px;*/
    }

    #tags_side_bar {
      width: 260px;
      background: #fff;
      position: fixed;
      height: 100%;
      overflow-y: auto !important;
      transition: all 0.4s ease 0s;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #84d9d2; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

    #mapid { height: 600px; }

    .legend{
      border: 1px solid black;
      background-color: white;
      padding: 10px;
    }

    .dots{
      width:10px; 
      height:10px;
      border-radius: 25%;
      display: inline-block;
    }

    label.badge{
      color: white !important;
    }

    .mr{
      margin-right: 10px;
    }

   /* .jsoneditor {
      width: 500px;
      height: 500px;
    }
     custom bold styling for non-default JSON schema values 
    .jsoneditor-is-not-default {
      font-weight: bold;
    }*/


    .pico-content .jsoneditor-modal .jsoneditor-modal-transform{
      /*position: absolute !important;*/
      display: none !important; 
      /*z-index: 10001; 
      left: 50%; 
      top: 38.1966%; 
      max-height: 90%; 
      box-sizing: border-box; 
      width: auto; 
      transform: translate(-50%, -38.1966%); 
      overflow: auto; 
      background-color: white; 
      padding: 20px; 
      border-radius: 5px;*/
    }
/***************************************************************************************************************/